force-app/main/default/flows/Lightning_Data_Table_Demo_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assign Account fields to show</description>
        <name>assignListFields</name>
        <label>assignListFields</label>
        <locationX>686</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>lstFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TickerSymbol</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>showListAccounts</targetReference>
        </connector>
    </assignments>
    <description>This flow will show you an example of a Lightning Data Table embedded within a Lightning Flow. Build on top of the native &lt;lightning:datatable&gt; Lightning component. A Lightning Web Component version will be available, once Lightning Flow will support Lightning Web Components.</description>
    <interviewLabel>Lightning Data Table Demo Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lightning Data Table Demo Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccounts</name>
        <label>getAccounts</label>
        <locationX>458</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignListFields</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>lstAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>TickerSymbol</queriedFields>
        <queriedFields>Site</queriedFields>
    </recordLookups>
    <screens>
        <name>showListAccounts</name>
        <label>List of Accounts</label>
        <locationX>685</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showSelectedAccounts</targetReference>
        </connector>
        <fields>
            <name>lcShowAccounts</name>
            <extensionName>c:FlowLightningDatatableComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Account</name>
                <value>
                    <elementReference>lstAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lstSelectedAccounts</assignToReference>
                <name>OUT_Account</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showSelectedAccounts</name>
        <label>Selected Accounts List</label>
        <locationX>685</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lcShowSelectedAccounts</name>
            <extensionName>c:FlowLightningDatatableComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <elementReference>lstFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>IN_Account</name>
                <value>
                    <elementReference>lstSelectedAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideReferenceFields</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideIdField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showWelcome</name>
        <label>showWelcome</label>
        <locationX>265</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccounts</targetReference>
        </connector>
        <fields>
            <name>msgWelcome</name>
            <fieldText>Welcome to the Lightning Data Table demo. This flow will show you an example of a Lightning Data Table embedded within a Lightning Flow. Build on top of the native &lt;lightning:datatable&gt; Lightning component. A Lightning Web Component version will be available, once Lightning Flow will support Lightning Web Components.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>showWelcome</startElementReference>
    <status>Draft</status>
    <variables>
        <name>lstAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable holding the list of fields to show.</description>
        <name>lstFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
